.main-header-wrapper {
    display: inline-block;
}
.wrapper {
    padding: 0px 15px;
}
iframe {
    width:"850";
    height:"480";
}
.Leader-Lite-wrapper {
    max-width: 415.0px;
}
.grid-image-link {
    
}