.screen-height {
    max-height: 100vh !important;
}

.carousel-inner {
    height: 100vh;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
}

.title-wrapper {
    position: absolute;
    top: 50%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    color: white;
    width: fit-content;
    height: fit-content;
}