* {
    margin: 0px;
    padding: 0px;
}

.yeps-text {
    display: block;
    line-height: 1.25em;
    min-height: 1.25em;
    vertical-align: top;
    margin: 4px 0;
    padding: 0 8px;
    z-index: 1;

}

span{
    text-align: center;
}

.yeps-form-link {
    text-align: center;
    
}

.yeps-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 4px;
    padding: 4px;
    text-decoration: none;
    line-height: 1.25em;
    min-height: 1.25em;
    color: #1a1a1a;
    cursor: pointer;
}

.footer {
    text-decoration: none;
}

.no-bullets {
    list-style: none;
  }

  p {
    text-align: left;
    font-size: 14px;
    font-family: Madera Medium, sans-serif
  }

  .inline-list  {
   display: flex;
   flex-wrap: wrap;

  }

  iframe.rowvideo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-wrapper {
    max-width: 100%;
  }
  
  .video-wrapper iframe {
    display: block;
    margin: 0 auto;
  }
  img.handler-pro-super {
    display: block;
    margin: 0 auto;
    width: 100%, 495px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 330px;
  }