html,
body {
    margin: 0;
    body: 0;
}

.navbar-toggler {
    border: none;
}

.navbar ul a {
    text-decoration: none;
}

.navbar ul a {
    padding-left: 7.5px;
    padding-right: 7.5px
}

.overlay-button {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(150%) rotate(90deg);
    transform-origin: top right;
    background-color: #4a8bbc;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    font-family: "Open sans", sans-serif;
    font-weight: 100;
    z-index: 10;
}

.bottom-right-button {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: #4cbade;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: "Sans serif", sans-serif;
    font-weight:500;
    z-index: 10;
}

.h1-pride-collection {
    font-size: 30px;
    font-family: "ITC Avant Garde Gothic", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 15px;
    line-height: 1.4;
    color: #222323;

}

.main-body {
    padding: 80px 0 0 0;
    max-width: 900px;
}

.main-text-body {
    font-size: 18px;
    color: #222323;

}

.pride-text {
    font-size: 18px;
    font-family: Madera, sans-serif;
    font-weight: 200;
    margin-bottom: 25px;
    text-align: center;
    color: #222323;

}

a {
    color: #4085AB;
}

a:hover {
    cursor: pointer;
}

hr {
    background: none;
    border: none;
}

.grid-container {
    display: inline-flex;
    justify-content: space-evenly;
}

.grid-1:hover {
    cursor: pointer;
}

.grid-2:hover {
    cursor: pointer;
}

img {
    height: 270px;
    width: 270px;
}

.grid-caption {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 17px;
    font-family: Madera, sans-serif;
    font-weight: 100;
    color: #222323;

}

code {
    color: black;
}

#footer {
    margin-top: 80px;
}

.footerItem {
    font-size: 14px;
    font-family: Madera, sans-serif;
    font-weight: 200;
    margin-bottom: 25px;
    color: #222323;
}

.payment-icons {
    list-style: none;
    display: inline-flex;
    padding: 0px;
}